body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    gap: 1rem;
    padding: 1rem;
}

.hero-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 1rem;
    padding: 2rem;
    padding-left: 8rem;
}

.hero-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-right{
    display: flex;
    flex: 1;
    justify-content: center;
}

.sign{
    background-color: #3882f6;
    padding: 1rem;
    color: #F9FAF8;
    border-radius: 1rem;
    
}


.Logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 400;
    gap: 1rem;
}


.hero-img{
    flex: 1;
    max-width: 300px;
    border-radius: 2rem;
    gap: 1rem;
    padding-top: 1rem;
}

.hero-text{
    flex: 1;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-align: center;
}

.mini-hero{
    font-size: 18px;
    color: #e5e7eb; 
    text-align: left;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 100;
    gap: 1rem;

}

ul{
    display: flex;
    list-style-type: none;
    align-content: space-between;
    justify-content: end;
    gap: 1rem;
    
}

.cards-cont{
    display: flex;
    flex: 1;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.cards-cont, .header-2{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    border: 1px solid #3882f6;
    overflow: hidden;
    flex-shrink: 0;    
    border-radius: 4px;
}

.card-img{
    display: block;
    flex: 1;
    width: 100%;
    height: 220px;
    border-radius: 8px;
    object-fit: cover;
}


.card-t{
    margin: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}


