body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    gap: 1rem;
    padding: 1rem;
}

.hero-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 1rem;
    padding: 2rem;
    padding-left: 8rem;
}

.hero-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-right{
    display: flex;
    flex: 1;
    justify-content: center;
}

.sign{
    background-color: #3882f6;
    padding: 1rem;
    color: #F9FAF8;
    border-radius: 1rem;
    cursor: pointer;
    
}


.Logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 400;
    gap: 1rem;
}


.hero-img{
    flex: 1;
    max-width: 300px;
    border-radius: 2rem;
    gap: 1rem;
    padding-top: 1rem;
}

.hero-text{
    flex: 1;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-align: center;
}

.mini-hero{
    font-size: 18px;
    color: #e5e7eb; 
    text-align: left;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 100;
    gap: 1rem;

}

ul{
    display: flex;
    list-style-type: none;
    align-content: space-between;
    justify-content: end;
    gap: 1rem;
    
}

.cards-cont{
    display: flex;
    flex: 1;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.cards-cont, .header-2{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.header-2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 220px;
    height: 220px;
    border: 1px solid #3882f6;
    overflow: hidden;
    flex-shrink: 0;    
    border-radius: 4px;
}

.card-img{
    display: block;
    flex: 1;
    width: 100%;
    height: 220px;
    border-radius: 8px;
    object-fit: cover;
}


.card-t{
    margin-top: 1rem;
    font-size: 0.75rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.quotation{
    background-color: #e5e7eb;
    justify-content: center;
    text-align: center;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

cite{
    text-align: right;
}

.cta{
    display: flex;
    color: #e5e7eb;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    border-radius: 0.7rem;
    padding: 1.5rem;
    margin: 1rem auto;

}

.sign-2{
    background-color: #fff;
    padding: 1rem;
    color: #3882f6;
    border-radius: 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.cta-right{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.3rem;
}

.cta-text{
    max-width: 70%;
}

.footer{
    display: flex;
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    margin-top: auto;
}

